
/* search ambition categories */

.search-cate-suggestion,
.search-cate-hob-suggestion,
.search-mentor-suggestion
{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 5px;
	position: absolute;
	left: 2px;
	top: 33px;
	background: #fff;
	z-index: 99;
	border: 1px solid #bdbdbd;
	border-top: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
}

.search-cate-suggestion .advanceS,
.search-cate-hob-suggestion .advanceS,
.search-mentor-suggestion .advanceS
{
	width: 100%;
	margin: 0px;
	text-align: center;
	background: #e5e5e5;
	padding-left: 0px;
	padding-right: 0px;
}
.search-row-sugg,
.search-row-hob-sugg
{
	width: 96%;
	height: auto;
	float: left;
	padding: 5px 2%;
	border-bottom: 1px solid #bdbdbd;
	cursor: pointer;
}

.search-suggestion ,
.search-cate-hob-suggestion
{
	width: 100%;
	left: 2px;
}
.search-main .all-drop,
.search-suggestion {
	padding: 8px 1%;
}
.search-cate-div{
	position: relative;
}
.add-new-amb{
	background-color: #e5e5e5;

}
.add-new-amb .sugg-details h2 {
	color: #0e0e0e;
}
