<p>
  Add the movie Data below:
</p>
<form #formCtrl="ngForm">
  <fieldset>
    <legend>Name</legend>
    <input type="text" name="name" size="25" required [(ngModel)]="name">
  </fieldset>
  <fieldset>
    <legend>Unit</legend>
    <input type="text" name="unit" size="25" required [(ngModel)]="unit">
  </fieldset>
  <fieldset>
    <legend>Type</legend>
    <input type="text" name="type" size="25" required [(ngModel)]="type">
  </fieldset>
  <br>
  <input type="submit" value="submit" name="b1" [disabled]="!formCtrl.form.valid" (click)="saveData()">
</form>

{{message}}
